<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Notifications
    {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <li><span>No Notifications</span></li>
    {{/if}}
  </ul>
</template>

<template name="notificationItem">
  <li>
    <a href="{{notificationPostPath}}">
      {{#if isComment}}
      <strong>{{commenterName}}</strong> commented on your post
      {{/if}}

      {{#if isPost}}
      <strong>{{posterName}}</strong> made a new post
      {{/if}}

      <span class="dismiss glyphicon glyphicon-remove"></span>
    </a>
  </li>
</template>
